/* base styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Merriweather', serif;
}

.container {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}

header {
    background-color: #2D3945;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-heading {
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    margin: 0;
}

/* form styles */

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
  }

form {
    text-align: left;
}

button.btn-submit {
    
}

fieldset {
    border: none;
}

/* text styles */

.bn-heading, .fm-headings {
    color: #2D3945;
}

.bn-text {
    color: #AAAFB4;
}

.fm-text, label {
    color: #55687A;
}

.cp-text {
    color: #9DA3A8;
}

/* media queries */

    @media only screen and (min-width: 768px) {

        
    }